//colors
$color_cape_cod_approx: #414141;
$black: #000;
$color_alto_approx: #ddd;
$color_rose_bud_approx: #f3af9d;
$color_flame_pea_approx: #e8603c;
$color_silver_approx: #bcbcbc;
$color_red_damask_approx: #e8663c;
$white: #ffffff;
$color_mountain_mist_approx: #999999;

$color_red_damask_approx: #e8663c;
$color_olive_drab_approx: #65a42d;
$color_bunker_approx: #151515;
$color_quill_gray_approx: #d5d5d5;



//fonts
$font_0: bebasregular;
$font_1: sans-serif;
$font_2: open-sans;
$font_3: helvetica;

//urls
$url_0: url(../images/portfolio.png);
$url_1: url(../images/offer.png);
$url_2: url(../images/follow.png);
$url_3: url(../images/heading-bg.png);
$url_4: url(../images/social.png);
$url_5: url(../images/icon1.png);
$url_6: url(../images/icon3.png);
$url_7: url(../images/icon2.png);
$url_8: url(../images/icon4.png);
$url_9: url(../images/icon6.png);
$url_10: url(../images/post_border_bg.png);
$url_11: url(../images/quote_bg.png);
$url_12: url(../images/quote.png);
$url_13: url(../images/f_hover.png);

// fonts
$url_14: url(../font/bebas___-webfont.eot);
$url_15: url(../font/bebas___-webfont.svg);
$url_16: url(../font/bebas___-webfont.woff);
$url_17: url(../font/bebas___-webfont.ttf);
$url_18: url(../font/bebas___-webfont.svg#bebasregular);
